<h2>Detalle del Libro</h2>
<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <td><%= libro.id %></td>
  </tr>
  <tr>
    <th>Titulo</th>
    <td><%= libro.titulo %></td>
  </tr>
  <tr>
    <th>Autor</th>
    <td><%= libro.autor %></td>
  </tr>
  <tr>
    <th>Año de Publicacion</th>
    <td><%= libro.anio_publicacion %></td>
  </tr>
  <tr>
    <th>Genero</th>
    <td><%= libro.genero %></td>
  </tr>
</table>
<a href="/libros" class="btn btn-secondary">Volver</a>
